* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 237, 222);
    overflow-x: hidden;

}

.topo-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 40px;
    font-size: 14px;
    color: #f1a45b;
}

.topo-esquerda {
    display: flex;
    gap: 25px;
    white-space: nowrap;
}

.topo-direita {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topo-esquerda p {
    font-weight: bold;
    font-size: 15px;
}

.topo-direita img {
    width: 18px;
    height: 18px;
    cursor: pointer;

}

.btn-exames {
    background-color: #f1a45b;
    color: #fff;
    padding: 6px 22px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
}

.btn-emergencia {
    background-color: #1f4e79;
    color: #fff;
    padding: 6px 40px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
}

.topo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 25px 0;

}

.topo-menu a {
    color: #f1a45b;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.topo-menu a:hover {
    color: #1f4e79;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.menu-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-principal img {
    height: 100px;
    background-color: rgb(237, 237, 222);
    padding: 10px;
}


/*BANNER DAS IMAGENS*/

.banner {
    position: relative;
    width: 100%;
    max-width: 1354px;
    height: 420px;
    margin: 0 auto;

}

.banner-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 15%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.shape-laranja {
    position: absolute;
    bottom: -280px;
    right: 0;
    width: 450px;
    height: auto;
    z-index: 2;
}

.img-gato {
    position: absolute;
    bottom: -350px;
    right: 10px;
    width: 350px;
    z-index: 3;
}

/*CONTEUDO DO BANNER */

.banner-conteudo {
    position: relative;
    top: 90px;
    left: 80px;
    max-width: 520px;
    z-index: 4;

}

/*TITULO H1 COM DUAS CORES*/
.banner-conteudo h1 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 800;
    margin-top: 0;
}

.titulo-laranja {
    color: #f1a45b;
}

.titulo-azul {
    color: #1f4e79;
}

/*SELO DO GOOGLE*/

.selo-google {
    max-width: 400px;
    margin-top: 25px;
    margin-bottom: 25px;

}

/*BOTAO FALE CONOSCO*/

.banner-acao {
    position: relative;
    margin-top: 40px;

}

.btn-fale {
    position: absolute;
    background-color: #1f4e79;
    color: #fff;
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 150px;
    margin-left: 100px;
    z-index: 1;

    /*TRANSIÇÕES SUAVES*/
    transition:
        transform 0.3s ease,
        backgroud-color 0.3s ease,
        box-shadow 0.3s ease;

}

.btn-fale:hover {
    transform: translateY(-6px) scale(1.04);
    background-color: #1f4e79;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*IMAGEM MANCHA CINZA DECORATIVA*/
.mancha-cinza {
    position: absolute;
    left: -130px;
    top: -50px;
    max-width: 320px;
    z-index: 2;
}

.mancha-cinza2 {
    position: absolute;
    left: -80px;
    top: -350px;
    max-width: 320px;
    z-index: 2;
}

/*BASE DA SESSÃO*/

.servicos {
    position: relative;
    padding: 370px 80px;
}

/*TOPO titulo + link*/

.servicos-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicos-topo h2 {
    font-size: 28px;
    color: #1f4e79;
}

.ver-servicos {
    color: #1f4e79;
    text-decoration: none;
    font-style: italic;
}

.servicos a:hover {
    text-decoration: underline;
    text-decoration-color: #2f368f;
}

/*MARGEM "LINHA"*/

.linha-servicos {
    width: 100%;
    max-width: 1200px;
    height: 4px;
    background-color: #1f4e79;
    margin: 15px auto 50px;
}

/*LISTA DE CARDS*/


.servicos-lista {
    display: flex;
    gap: 40px;
}


/*CARD INDIVIDUAL PONTINHOS*/

.servico-card {
    position: relative;
    width: 260px;
    border-radius: 22px;
    overflow: visible;
    transition: transform 0.3s ease,
        box-shadow 0.3s ease;

}

.servico-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);

}

.servico-card img.servico-img {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;

}

.servico-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(150, 190, 225, 0.45);
    mix-blend-mode: multiply;
    transition: opacity 0.3s ease;
    border-radius: 22px;
    pointer-events: none;
    z-index: 3;
}

.servico-card:hover::after {
    opacity: 0;
}

.servico-card::before {
    content: "";
    position: absolute;
    top: -18px;
    right: 22px;
    width: 55px;
    height: 55px;
    background: url("imagens/orange-ball.png")no-repeat center / contain;
    z-index: 0;
    opacity: 0.9;
}


.servico-card img:first-child {
    width: 100%;
    display: block;
    border-radius: 22px;
    position: relative;
    z-index: 2;

}

.servico-card:hover img:first-child {
    filter: none;
}

/*PONTINHOS LARANJA*/
.servico-card .pontinhos {
    position: absolute;
    top: -28px;
    left: -25px;
    width: 80px;

    z-index: 1;
}

.pontinhos {
    position: absolute;
    bottom: -30px;
    left: 20px;
    width: 90px;
    ;
}

/* BOTÃO DO SERVIÇO*/
.servico-card .nome-servico {
    position: absolute;
    min-width: 180px;
    bottom: 16px;
    left: 16px;
    background: #fff;
    color: #1f4e79;
    padding: 6px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    z-index: 4;
    pointer-events: none;

}

/*CIRCLE-ORANGE SIMBOLO DA MARCA*/
.servico-card .circle-orange {
    position: absolute;
    bottom: -14px;
    right: -12px;
    width: 46px;
    height: auto;
    z-index: 3;
    pointer-events: none;
}

/* DECORACAO CANTO DIREITO*/
.servicos .decor-direita {
    position: absolute;
    right: -20px;
    bottom: 250px;
    max-width: 300px;
    height: auto;
    z-index: 0;
    pointer-events: none;
}

.banner-secundario {
    position: relative;
    margin-top: -350px;
    margin-left: 0;

}

.banner-conteudo {
    max-width: 1200px;
    margin: 0;
    position: relative;

}

.banner-imagem img {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display: block;
}

.banner-texto {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: #fff;
    max-width: 420px;
}

.banner-texto h2 {
    font-size: 38px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: bold;

}

.btn-fale2 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    padding: 14px 28px;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-fale2 img {
    width: 40px;
    border-radius: 50%;
}

.btn-fale2:hover {
    background-color: #fff;
    color: #4a6b63;
    transform: translateY(-3px);
}

/*SESSÃO FAQ*/
.faq-san-satri {
    width: 100%;
    background-color: #f7efe4;
    padding: 80px 0;
    margin-top: 100px;
}

.faq-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    align-items: flex-start;
    padding: 0 20px;
}

.faq-texto {
    flex: 0.9;
}

.faq-texto p {
    font-size: 28px;
    line-height: 1.3;
    color: #f1a45b;
    font-weight: 700;

}

.faq-acordion {
    flex: 1.1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-pergunta {
    width: 100%;
    background-color: #f1a45b;
    border: none;
    border-radius: 14px;
    padding: 18px 24px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-icon {
    display: inline-block;
    transition: transform 0.3s ease;
}

.faq-resposta {
    display: none;
    background-color: #f6d2a6;
    border-radius: 14px;
    padding: 20px 24px;
    margin-top: 8px;
}

.faq-resposta p {
    font-size: 16px;
    color: #1f4e79;
    line-height: 1.6;
}

.faq-item.active .faq-resposta {
    display: block;
}

.faq-item-active .faq-icon {
    transform: rotate(180deg);
}

/*SESSAO DEPOIMENTOS*/
.sessao-depoimentos {
    position: relative;
    padding: 0 40px;
    background-color: #f7efe4;
}

.depoimentos {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;

}

.depoimento-texto {
    font-size: 32px;
    font-weight: 700;
    color: #1f4e79;
}

.decor-depoimentos {
    position: absolute;
    right: -80px;
    top: -150px;
    width: 320px;
    pointer-events: none;
}

/*DEPOIMENTOS*/

.depoimento-slider {
    max-width: 1800px;
    margin: 40px auto;
    overflow: hidden;
    padding: 0 20px;

}

.depoimento-wrapper {
    display: flex;
    gap: 24px;

    transition: transform 0.05s linear;
}

.depoimento-card {
    min-width: 220px;
    background-color: #8fa99a;
    border-radius: 16px;
    padding: 24px;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.depoimento-texto-card {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 24px;
}

.depoimento-autor {
    display: flex;
    align-items: center;
    gap: 12px;
}

.depoimento-autor img {
    width: 42px;
    height: 42px;
}

.depoimento-autor span {
    font-weight: 600;
    font-size: 15px;
}

.depoimento-controles {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}

.depoimento-controles button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background-color: #f4a259;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.depoimento-controles button:hover {
    background-color: #e8903d;
}

/*PARCEIROS*/
.parceiros {
    padding: 60px 20px;
}

.parceiros-container {
    max-width: 1200px;
    margin: 0 auto;
}

.parceiros h2 {
    font-size: 28px;
    color: #1f4e79;
    margin-bottom: 10px;
}

.parceiros .linha {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #1f4e79;
    margin-bottom: 40px;
}

.logos-parceiros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.logos-parceiros img {
    max-height: 60px;
    object-fit: contain;
    filter: grayscale(0);
}

/*FOOTER*/


.footer {
    background-color: #1f4e79;
    padding: 60px 20px;
    color: #fff;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

}

.footer-logo,
.footer-contato,
.footer-endereco {
    flex: 1;
}

.footer-logo img {
    max-width: 180px;
}

.footer-contato {
    text-align: left;
}

.footer-contato h5 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-contato p {
    font-size: 15px;
    line-height: 1.6;
}

.footer-redes {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.footer-redes img {
    width: 32px;
    height: 32px;
    border-radius: 40%;
}

.footer-endereco {
    text-align: left;
}

.footer-endereco address {
    font-style: normal;
    font-size: 15px;
    line-height: 1.6;
}

.footer-endereco .cnpj {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.9;
}







@media (max-width: 480px) {
    /*FAIXA TOPO*/

    .topo-barra {
        flex-direction: column;
        gap: 8px;
        padding: 10px 12px;
        text-align: center;
        font-size: 12px;
    }

    .topo-esquerda {
        flex-direction: column;
        gap: 4px;
        white-space: normal;
        line-height: 1.4;
    }

    .topo-direita {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;
    }

    .btn-exames,
    .btn-emergencia {
        padding: 6px 16px;
        font-size: 11px;
        border-radius: 20px;
    }

    .topo-menu {
        flex-direction: column;
        gap: 12px;
        padding: 12px 0;
    }


    .menu-principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;
    }

    .topo-menu a {
        font-size: 16px;
        font-weight: 600;
        transition: none;
    }

    .topo-menu a:hover {
        color: #f1a45b;
        font-size: 16px;
       
    }

    .menu-principal img {
        height: 70px;
    }

    .banner {
        width: 100%;
        height: auto;
        position: relative;
        object-position: center;
        border-radius: 30px;
    }

    .banner-conteudo {
        position: static;
        max-width: 520px;
        padding: 0 10px;
        margin: 10px auto;
        text-align: left;
        line-height: 1.6;
        z-index: 4;
    }

    .logos-parceiros {
        justify-content: center;
    }

    /*BANNER DAS IMAGENS*/
    .banner {
        height: 260px;
    }

    .banner-bg {
        object-position: center;
    }

    .shape-laranja {
        width: 220px;
        bottom: -120px;
        right: -30px;
    }

    .img-gato {
        width: 180px;
        bottom: -150px;
        right: 0;
    }

    /*CONTEUDO DO BANNER */
    .banner-conteudo {
        position: static;
        max-width: 100%;
        padding: 0 20px;
        margin-top: 30px;
        text-align: left;
    }

    /*TITULO H1 COM DUAS CORES*/
    .banner-conteudo h1 {
        font-size: 18px;
        line-height: 1.3;
    }

    /*SELO DO GOOGLE*/

    .selo-google {
        max-width: 260px;
        margin-top: 50px;
        display: block;
    }

    /*BOTAO FALE CONOSCO*/
    .banner-acao {
        margin-top: 30px;
        text-align: center;
    }

    .btn-fale {
        position: static;
        display: inline-block;
        margin-top: 5px;
        margin-right: 5px;
        padding: 10px 20px;
    }

    /*IMAGEM MANCHA CINZA DECORATIVA*/
    .mancha-cinza {
        position: absolute;
        left: -130px;
        top: -50px;
        max-width: 250px;
        z-index: 2;
    }

    .mancha-cinza2 {
        left: -20px;
        top: -120px;
        max-width: 150px;

    }

    /*BASE DA SESSÃO*/

    .servicos {
        position: relative;
        padding: 120px 20px;
    }

    /*TOPO titulo + link*/

    .servicos {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 120px;
        padding-bottom: 60px;
        gap: 10px;
    }

    .servicos-topo h2 {
        font-size: 22px;
    }

    .ver-servicos {
        font-size: 18px;
    }

    /*MARGEM "LINHA"*/

    .linha-servicos {
        height: 3px;
        margin: 10px auto 30px;
    }

    /*LISTA DE CARDS*/


    .servicos-lista {
        flex-direction: column;
        gap: 40px;
        justify-content: center;


    }

    /*CARD INDIVIDUAL PONTINHOS*/

    .servico-card {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        transition: none;
    }

    .servico-card:hover {
        transform: none;
        box-shadow: none;
    }

    .servico-card::after {
        opacity: 0;
    }

    .servico-card::before {
        width: 40px;
        height: 40px;
        top: -12px;
        right: 15px;
        opacity: 0.6;
    }

    .servico-card img {
        border-radius: 22px;
    }

    /* BOTÃO DO SERVIÇO*/
    .servico-card .nome-servico {
        min-width: auto;
        max-width: calc(100% - 32px);
        font-size: 14px;
        padding: 6px 16px;
        bottom: 12px;
        left: 12px;
        text-align: center;
        white-space: normal;
    }

    /* DECORACAO CANTO DIREITO*/
    .servicos .decor-direita {
        display: none;

    }

    .banner-secundario {
        margin-top: 0;
        padding-top: 0;
    }

    .banner-conteudo {
        max-width: 100%;
        padding: 0 20px;
    }

    .banner-imagem img {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .banner-texto {
        position: static;
        transform: none;
        color: #1f4e79;
        max-width: 100%;
        margin-top: 5px;
        text-align: left;
    }

    .banner-texto h2 {
        font-size: 24px;
        line-height: 1.3;
        margin-top: 0;
        margin-bottom: 1px;
    }

    .btn-fale2 img {
        width: 28px;
    }

    .btn-fale2 {
        font-size: 15px;
        color: #1f4e79;
        border: 2px solid #1f4e79;
        height: 22px;
    }

    .btn-fale2:hover {
        transform: none;
        background-color: transparent;
        color: #4a6b63;
    }

    /*SESSÃO FAQ*/
    .faq-san-satri {
        padding: 50px 0;
        margin-top: 60px;
    }

    .faq-container {
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;

    }

    .faq-texto {
        flex: none;
        text-align: left;
        margin-top: 0;
    }

    .faq-texto p {
        font-size: 20px;
        line-height: 1.4;
        margin-top: 0;
        padding-top: 0;
    }

    .faq-acordion {
        flex: none;
        gap: 16px;
    }

    .faq-pergunta {
        padding: 16px 18px;
        font-size: 16px;
        border-radius: 12px;
    }

    .faq-icon {
        font-size: 14px;
    }

    .faq-resposta {
        padding: 16px 18px;
        border-radius: 12px;
    }

    .faq-resposta p {
        font-size: 15px;
        line-height: 1.5;
    }

    /*DEPOIMENTO*/
    .sessao-depoimentos {
        padding: 0;
    }

    .depoimentos {
        padding: 0 20px;
    }

    .depoimento-texto {
        font-size: 22px;
        line-height: 1.4;
        text-align: left;
    }

    .decor-depoimentos {
        display: none;
    }

    /*FOOTER*/
    .footer {
        padding: 40px 20px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .footer-logo img {
        max-width: 160px;
    }

    .footer-contato,
    .footer-endereco {
        text-align: center;
    }
}