.banner-bg2 {
    width: 1354px;
    height: 352px;
    object-fit: cover;
    overflow: hidden;
    object-position: center 15%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}

.banner-conteudo2 {
    position: relative;
    top: 90px;
    left: 80px;
    max-width: 520px;
    z-index: 4;
}

.titulo-laranja,
.titulo-azul {
    font-size: 60px;
}

.banner-texto2 {
    max-width: 540px;
    margin: 40px auto;
    font-size: 18px;
    color: rgb(112, 115, 121);
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
}

.funcionarios {
    display: flex;
    justify-content: flex-end;
}

.funcionarios img {
    width: 65%;
    height: auto;
    opacity: 0.9;
    margin-top: 100px;
    margin-bottom: 150px;
    border-radius: 30px;
    z-index: 1;
}

/*MANCHA CINZA*/
.mancha-cinza {
    position: absolute;
    left: -120px;
    top: 1450px;
    max-width: 300px;
    z-index: 2;
}

/*PAGINA DE AGENDAMENTO*/

.agd-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #1f4e79;
    margin-bottom: 70px;
}

.agd-texto {
    flex: 1;

}

.agd-consulta h2 {
    color: #1f4e79;

}

.agd-consulta {
    display: flex;
    justify-content: center;

}

.agd-consulta img {
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 250px;
    transition: 0.5s ease;
}

.agd-consulta img:hover {
    transform: translateY(-5px);
}


#profissionais {
    color: #1f4e79;
    margin-left: 180px;
}

.profissional {
    display: flex;
    justify-content: center;
}

.profissional img {
    gap: 30px;
    border-radius: 25px;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
}

.agd-data {
    display: flex;
    flex-direction: column;
    color: #1f4e79;
    margin-left: 180px;
    margin-bottom: 20px;

}

/*CADASTRO*/
.menu-cadastro {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-left: 180px;
    margin-bottom: 180px;

}

.menu-dados {
    flex: 1;
}

.agd-confirme {
    flex: 1;
    margin-left: 200px;
}

.agd-confirme h2 {
    max-width: 350px;
    width: 350px;
}

.cadastro h2 {
    color: #1f4e79;
    margin-top: 80px;
    margin-bottom: 20px;

}

input,
textarea {
    text-align: left;
    max-width: 300px;
    width: 300px;
    height: 40px;
    border: 1px solid #1f4e79;
    border-radius: 8px;
    padding: 5px;

}

::placeholder {
    color: #1f4e79;
    font-size: 15px;
    font-weight: 400;
}


label {
    display: none;
    margin-top: 300px;
}

.icon-certo {
    width: 25px;

}


.agd-confirme p {
    text-align: left;
    max-width: 300px;
    width: 300px;
    height: 40px;
    border: 0 solid #1f4e79;
    color: #1f4e79;
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;

}

button {
    width: 300px;
    height: 40px;
    border: 2px solid #1f4e79;
    border-radius: 8px;
    background-color: #1f4e79;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: translateY(-3px);
    background-color: #fff;
    color: #1f4e79;
}

/*CALENDARIO + HORARIOS*/
.agd-container2 {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.calendario {
    max-width: 600px;
    flex: 0 0 600px;
    background: #dbe1e7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.cal-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cal-topo h3 {
    font-weight: 600;
    color: #5c748a;

}

.cal-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #5c748a;
    margin-bottom: 10px;
}

.cal-semana span {
    padding: 10px 0;
}

.cal-dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.cal-dias button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #2f6f96;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s ease;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cal-dias button:hover {
    background-color: #5c748a;
    color: #fff;
}

.dia-ativo {
    background: #5c748a !important;
    color: #fff;

}

.horarios {
    background: #dbe1e7;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    min-width: 220px;
}

.horarios button {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #5c748a;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

.horarios button:hover {
    transform: translateY(-2px);
}

/*MANCHA LARANJA + GATINHO*/

.shape-laranja2 {
    position: absolute;
    bottom: -180px;
    right: 0;
    width: 270px;
    height: auto;
    z-index: 2;
}

.img-gato2 {
    position: absolute;
    bottom: -150px;
    right: 25px;
    width: 250px;
    z-index: 3;
}





@media (max-width: 460px) {

    /*FAIXA TOPO*/
    .banner-bg2 {
        width: 100%;
        height: auto;
        position: relative;
        object-position: center;

    }

    .banner-conteudo2 {
        position: static;
        max-width: 520px;
        padding: 0 10px;
        margin: 10px auto;
        text-align: left;
        line-height: 1.6;
        z-index: 4;
    }

    .banner-texto2 {
        max-width: 100%;
        text-align: left;
        padding: 0 18px;
        line-height: 1.8;
        font-size: 20px;

    }

    .titulo-laranja,
    .titulo-azul {
        font-size: 40px;

    }

    .funcionarios img {
        width: 100%;
        height: auto;
        opacity: 0.9;
        margin-top: 100px;
        margin-bottom: 90px;
        border-radius: 30px;
        z-index: 1;
    }

    .mancha-cinza {
        position: absolute;
        left: -70px;
        top: -10px;
        max-width: 150px;
        z-index: 2;
    }


    /*BANNER DAS IMAGENS*/
    .banner {
        height: 260px;
    }

    .banner-bg {
        object-position: center;
    }

    .shape-laranja {
        width: 220px;
        bottom: -50px;
        right: -30px;
    }

    .shape-laranja2 {
        width: 180px;
        bottom: 20px;
        right: -30px;
    }


    .img-gato {
        width: 180px;
        bottom: -40px;
        right: 0;
    }

    .img-gato2 {
        width: 120px;
        bottom: 30px;
        right: 0;
    }


    .mancha-cinza {
        display: none;
    }

    /*AGENDAMENTO*/
    .agd-container {
        font-size: 12px;
        padding-top: 0;
        margin-top: 0;

    }

    .agd-consulta h1 {
        margin: 10px 0;
    }

    .agd-consulta h2 {
        text-align: center;
    }


    .agd-consulta img {
        padding: 5px;
        width: 150px;
        margin-left: 30px;

    }

    #profissionais {
        text-align: left;
        margin-left: 40px;
    }

    .profissional img {
        width: 350px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 30px;
        padding: 0;
    }

   
    input,
    ::placeholder {
        font-size: 18px;
    }

    .agd-confirme p {
        font-size: 20px;
    }

    form,
    button {
        margin-top: 25px;
       
    }

    /*CALENDARIO E HORARIO*/
    .agd-data {
        margin-left: 0;
        width: 400px;

    }

    .agd-data h2 {
        margin-left: 30px;

    }

    .agd-container2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
        width: 100%;
        max-width: 100%;


    }

    .calendario {
        flex: 1;
        max-width: 100%;
        width: 100%;

    }

    .horarios {
        width: 100%;
        text-align: center;
    }

    .horarios button {
        margin: 5px;
    }

    /*FORMULARIO*/

    .cal-semana {
        font-weight: 400;
    }

    .menu-cadastro {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

    }

    .agd-confirme {
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .agd-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: #1f4e79;
        margin-bottom: 70px;
    }

    .agd-texto p {
        font-size: 20px;
    }


}